.question{
    padding: 20px;
}

.question h1{
    border: 5px solid red;
    border-radius: 50px;
    padding: 10px;
}

.label, .answ{
    font-size: 3vw;
    width: fit-content;
}


button{
    width:100px;
    height:30px;
    border: 1px solid red;
}
.style{
    background-color: rgb(0, 200, 0);
    font-weight: bold;

}

.err{
    background-color: red;
}
